<nav class="sidenav-box">
  <div class="brand">Zhato admin</div>
  <hr class="bg-secondary">

  <span class="title">Articles</span>
  <ul class="nav flex-column">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/article/list">Liste <i class="fas fa-list"></i></a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/article/create">Ajouter <i class="fas fa-plus"></i></a>
    </li>
  </ul>
  <hr class="separation">

  <span class="title">Catégories</span>
  <ul class="nav flex-column">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/category/list">Liste / Ajouter <i class="fas fa-list"></i></a>
    </li>
  </ul>
  <hr class="separation">

  <span class="title">Plateformes</span>
  <ul class="nav flex-column">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/platform/list">Liste / Ajouter <i class="fas fa-list"></i></a>
    </li>
  </ul>
  <hr class="separation">

  <span class="title">Commentaires</span>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="">Liste <i class="fas fa-list"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Ajouter <i class="fas fa-plus"></i></a>
    </li>
  </ul>
  <hr class="separation">
</nav>
