<nav class="sidenav-box">
  <div class="brand">Zhato admin</div>
  <hr class="bg-secondary">

  <span class="title">Articles</span>
  <div class="nav flex-column">
    <a class="nav-link" href="#">Liste <i class="fas fa-list"></i></a>
    <a class="nav-link" href="#">Ajouter <i class="fas fa-plus"></i></a>
  </div>
  <hr class="separation">

  <span class="title">Commentaires</span>
  <div class="nav flex-column">
    <a class="nav-link" href="#">Liste <i class="fas fa-list"></i></a>
  </div>
  <hr class="separation">
</nav>