<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Zhato, blog jeux vidéo{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        {% include "navbar.html.twig" %}
    </header>
    {% block body %}{% endblock %}

    <script src="{{ asset('build/js/main.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
