<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('images/brand-logo.png') }}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tous les articles</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Catégories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">PS4</a>
                        <a class="dropdown-item" href="#">Xbox One</a>
                        <a class="dropdown-item" href="#">Switch</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid bg-dark text-white">
    <div class="container ">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a href="#" class="nav-link">PS4</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">PS4</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">PS4</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">PS4</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">PS4</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">PS4</a>
            </li>
        </ul>
    </div>
</div>