<div class="container-fluid">
  <h1 class="mt-3 mb-5">Listes des articles</h1>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titre</th>
          <th scope="col">Plateformes</th>
          <th scope="col">Catégories</th>
          <th scope="col">Auteur</th>
          <th scope="col">En ligne</th>
          <th scope="col">Créé le</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articlesList">
          <th scope="row">{{ article.id }}</th>
          <td>{{ article.title }}</td>
          <td><span *ngFor='let platform of article.platforms'>{{ platform.name }}, </span></td>
          <td><span *ngFor='let category of article.categories'>{{ category.name }}, </span></td>
          <td>{{ article.author }}</td>
          <td>
            <label class="switch" for="{{ article.id }}">
              <input type="checkbox" id="{{ article.id }}" [checked]="article.is_published" (click)="toggleIsPublished(article.id)">
              <span class="slider round"></span>
            </label>
          </td>
          <td>{{ article.created_at | date:'longDate' }}</td>
          <td>
            <button class="btn btn-sm btn-warning" routerLink="/article/show/{{article.id}}">
              <i class="far fa-edit"></i> edit</button>
            <button class="btn btn-sm btn-danger" (click)="delete(article)">
              <i class="far fa-trash-alt"></i> delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
